

@{
    ViewBag.Title = "Aluno";
}

<h2>Aluno</h2>


    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Aluno</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            
            <div class="col-md-10">
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <a href="#" onclick="SalvarAluno();" class="btn btn-default">Salvar Pedido</a>
            </div>
        </div>
    </div>


<div id="divItens" style="display:none;">


</div>

<script>
    function SalvarAluno() {
        var Nome = $("#Nome").val();
        var Disciplina = $("#Disciplina").val();
        $.ajax({
            type: "POST",
            url: "http://localhost:54828/Create",
            data: JSON.stringify({ Nome: Nome, Disciplina: Disciplina }),
            contentType: "application/json"


        });


    }
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
