@model IEnumerable<GerenciamentoPIM.Models.Aluno>



<h2 class="text-center">Gerenciador de Tarefas UNIPIM</h2>

<div class="container center-block">
    <h3 class="h3">Tarefas que você possui no momento: </h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Disciplina</th>
                <th scope="col">Aluno</th>

            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <th scope="row">10/04/2019</th>
                    <td>
                        Disciplina: @Html.DisplayFor(modelItem => item.Disciplina)
                    </td>

                    <td>
                        Aluno:   @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                </tr>

            </tbody>


        }
    </table>

</div>




